body{
	margin:0;
	padding:0;

}
.container{
	position:relative;
	top:30px;
	left:500px;
	width:400px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border:5px solid aqua;
	padding:20px;
}
#inputFields{
	display: none;
}